<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %}{% endblock %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    </head>
    <body>
        <header>
            <h1>Expense Mate</h1>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="#">Transactions</a></li>
                </ul>
                <ul>
                    {% if user %}
                    <p>Logged in as {{ user.name }}</p>
                    <a href="/logout">Sign out</a>
                    {% else %}
                    <a href="/login">Login</a>
                    <a href="/sign_up">Sign-up</a>
                    {% endif %}
                </ul>
            </nav>
        </header>

        <div class="main">
            {% block content %} {% endblock %}
        </div>

        <footer>
            <p>Michael Zhao</p>
            <ul>
                <li><a href="#">GitHub</a></li>
                <li><a href="#">Website</a></li>
            </ul>
        </footer>

        
        <script src="{{url_for('static', filename='css/script.js')}}" async defer></script>
    </body>
</html>