{% extends 'base.html' %}

{% block title %}
Create Post
{% endblock %}

{% block content %}
<h1>Congratulations {{ user.name }}, You managed to save ${{ savings_amount }}!</h1>
<form action="/create_post_action" method="POST">
    <label for="description">Description: </label><input type="text" description="description" id="description">
    <input type="hidden" name="savings_amount" id="savings_amount" value="{{ savings_amount }}">
   <input type="submit" value="Submit">
</form>
{% endblock %}