{% extends "base.html" %}

{% block title %}
Edit Expense
{% endblock title %}

{% block content %}
<form action="/edit_expense_action" method="POST">
    <label for="date">Date</label><input type="date", name="date", id="date", value="{{ expense.date }}">
    <label for="description">Description</label><input type="text" name="description", id="description", value="{{ expense.description }}">
    <label for="amount">Amount</label><input type="number" name="amount", id="amount", value="{{ expense.amount }}">
    <label for="category">Category</label><input type="text" name="category", id="category", value="{{ expense.category }}">
    <label for="type">Type</label><input type="text" name="type", id="type", value="{{ expense.type }}">
    <input type="hidden" value="{{ expense.id }}", name="id", id="id">
    <input type="submit" value="Submit">
</form>

{% endblock %}