{% extends "base.html" %}

{% block title %}
Settings
{% endblock title %}

{% block content %}
<form action="/settings_action" method="POST">
    <label for="name">Name: </label><input type="text" name="name" id="name">
    <label for="email">Email: </label><input type="text" name="email" id="email">
    <label for="password">Password: </label><input type="password" name="password" id="password">
    <label for="password_confirmation">Confirm Password: </label><input type="password" name="password_confirmation" id="password_confirmation">
    <label for="savings_goal">Weekly Savings Goal: </label><input type="number" name="savings_goal" id="savings_goal">
    <input type="submit">
</form>
{% if not passwords_match %}
<p style="color: red;">Passwords do not match. Please try again.</p>
{% endif %}

{% endblock %}